<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <br>
      <div *ngIf="error && !isLoading"
           class="offset-sm-3 col-sm-6 alert-danger card align-content-center">
        {{error}} Probeer het opnieuw.
      </div>
      <div class="card margin-top-40-sm-and-up margin-bottom-20">
        <div class="card-body">
          <h3>Instellingen</h3>
          <ul class="list-unstyled">
            <h5>Accountinformatie</h5>
            <li>Naam: {{user.name}}</li>
            <li>E-mailadres: {{user.email}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5>Gekoppelde rekeningen</h5>
          <div *ngIf="isLoading && !error" style="position: relative">
            <ngx-spinner
              [fullScreen]="false"
              bdColor="#ffffff"
              color="#000000"
              size="default"
              style="position: center"
              type="ball-pulse"><p>Rekeningen worden opgehaald.<br><br></p>
            </ngx-spinner>
          </div>
          <br>
          <div *ngIf="!isLoading && !error && accounts.length <= 0" class="text-center">Er zijn geen rekeningen
            gekoppeld aan dit
            account.
          </div>
          <ul class="list-group">
            <li *ngFor="let account of accounts" class="list-group-item">
              <span>Koppeling: {{account.bank}} </span>
              <button (click)="disconnectAccount(account.id)" class="btn btn-outline-primary float-right" type="button">
                Ontkoppel
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
