<div class="container">
    <div class="row">
        <h2>Registreren</h2>
        <form class="col-sm-12">
            <div class="form-group">

                <p>Registreer hier een account.</p>
                <br>
                <label for="email">Emailadres</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
                       placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Wachtwoord</label>
                <input type="password" class="form-control" id="password" placeholder="Wachtwoord">
            </div>
            <input type="submit" class="btn btn-primary" value="Maak account aan">
        </form>
    </div>
</div>