<div class="container">
  <!-- Login -->
  <div id="row">
    <div class="offset-sm-3 col-sm-6">
      <button (click)="back()" class="btn btn-primary margin-top-40-sm-and-up">Ga terug</button>
    </div>
    <br>
    <form class="offset-sm-3 col-sm-6" #addBankForm="ngForm" (ngSubmit)="onSubmit(bankSelect.value)">

      <div class="row">
        <div class="col-sm-12 form-group">

          <h2>Bankaccount koppelen</h2>
          <label for="name">Selecteer een bank:</label>
          <select class="form-control" id="name" name="name" #bankSelect="ngModel" [(ngModel)]="bank.url" required>
            <option value="{{apiUrl}}/ING?token={{token}}">ING</option>
            <option value="{{apiUrl}}/RABOBANK?token={{token}}">Rabobank</option>
          </select>
        </div>
        <!--Redirect naar bankpagina op basis gekozen optie-->
        <div class="col-sm-12 form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!addBankForm.valid" value="">Koppel</button>
        </div>
      </div>
    </form>
  </div>
</div>
