<div class="container">
    <!-- Login -->
    <div id="row">
        <form class="offset-sm-3 col-sm-6 margin-top-40" #addBankForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <h2>Bankaccount koppelen</h2>
                    <label for="name">Selecteer een bank:</label>
                    <select class="form-control" id="name" name="name" [(ngModel)]="bank.url" required>
                        <option value="http://localhost:8080/ing/authorize">ING</option>
                        <option value="http://localhost:8080/rabo/authorize">Rabobank</option>
                    </select>
                </div>
              //Redirect naar bankpagina op basis gekozen optie
                <div class="col-sm-12 form-group">
                  <a href="{{bank.url}}"><button class="btn btn-primary" [disabled]="!addBankForm.valid" value="">Koppel</button></a>

                </div>
            </div>
        </form>
    </div>
</div>
