<div class="container">
  <div class="row">
    <div class="offset-sm-3 col-sm-6">
      <button (click)="back()" class="btn btn-primary margin-top-40-sm-and-up">Ga terug</button>
      <h1>Bedrag overmaken</h1>
    </div>
    <form class="offset-sm-3 col-sm-6" #formTransfer="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group col-sm-12">

          <div class="alert-success card" *ngIf="transfered">
            <div class="card-body">
              Het bedrag is succesvol overgeboekt!
            </div>
          </div>

          <div class="alert-danger card" *ngIf="transfered !== undefined && !transfered">
            <div class="card-body">
              Er is iets misgegaan met de overboeking. Probeer het opnieuw.
            </div>
          </div>♦

          <label for="debtor">Uw rekening</label>
          <select class="form-control" id="debtor" name="debtor" #debtor="ngModel"
                  [(ngModel)]="selectedRekening" required>
            <option *ngIf="isLoading" disabled selected>Uw rekeningen worden opgehaald...</option>

            <option *ngFor="let rekening of rekeningen"
                    [ngValue]="{iban: rekening.iban, tableId: rekening.tableId}">{{rekening.name}}
              / {{rekening.iban}}</option>
          </select>
          <div *ngIf="debtor.invalid && debtor.dirty" class="alert alert-danger">
            <li *ngIf="debtor.errors.required">Een rekening is verplicht</li>
          </div>

        </div>

        <div class="form-group col-sm-12">
          <label for="creditorIBAN">Naar (IBAN):</label>
          <input type="text" class="form-control" id="creditorIBAN" name="creditorIBAN" #creditorIBAN="ngModel"
                 [(ngModel)]="transfer.receiver.iban" required>
          <div *ngIf="creditorIBAN.invalid && creditorIBAN.dirty" class="alert alert-danger">
            <li *ngIf="creditorIBAN.errors.required">Een IBAN is verplicht</li>
            <li *ngIf="creditorIBAN.errors.iban">Ongeldige IBAN</li>
          </div>
        </div>

        <div class="form-group col-sm-12">
          <label for="creditorName">Naar (Naam):</label>
          <input type="text" class="form-control" id="creditorName" name="creditorName" #creditorName="ngModel"
                 [(ngModel)]="transfer.receiver.name" required>
          <div *ngIf="creditorName.invalid && creditorName.dirty" class="alert alert-danger">
            <li *ngIf="creditorName.errors.required">Een naam is verplicht</li>
          </div>
        </div>

        <div class="form-group col-sm-12">
          <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3">
              <label for="currency">Valuta:</label>
              <select name="currency" id="currency" class="form-control" #currency="ngModel"
                      [(ngModel)]="transfer.currency" required>
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
              </select>
              <div *ngIf="currency.invalid && currency.dirty" class="alert alert-danger">
                <li *ngIf="currency.errors.required">Een valuta is verplicht</li>
              </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-9">
              <label for="amount">Bedrag:</label>
              <input type="number" class="form-control" id="amount" name="amount" #amount="ngModel"
                     [(ngModel)]="transfer.amount" required min="0.01">
              <div *ngIf="amount.invalid && creditorIBAN.dirty" class="alert alert-danger">
                <li *ngIf="amount.errors.required">Een bedrag is verplicht</li>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-12">
          <label for="information">Opmerking:</label>
          <textarea class="form-control" id="information" name="information" #comment="ngModel"
                    [(ngModel)]="transfer.information"></textarea>

        </div>

        <div class="form-group col-sm-12">
          <input type="submit" value="Overmaken" class="btn btn-primary float-right btn-block-sm"
                 [disabled]="!formTransfer.valid">
        </div>
      </div>
    </form>
  </div>
</div>
