<div class="container">
  <div class="row">
    <form class="offset-sm-3 col-sm-6"  #formTransfer="ngForm">
      <h1>Bedrag overmaken</h1>
      <div class="row">
        <div class="form-group col-sm-12">
          <label for="debtor">Uw rekening</label>
          <div *ngIf="isLoading">Uw rekeningen worden opgehaald...</div>
          <select *ngIf="!isLoading" class="form-control" id="debtor" name="debtor" #debtor="ngModel" [(ngModel)]="transfer.debtor">
            <option *ngFor="let rekening of rekeningen" value="{{rekening.iban}}">{{rekening.name}} / {{rekening.iban}}</option>
          </select>
        </div>
        <div class="form-group col-sm-12">
          <label for="creditor">Naar:</label>
          <input type="text" class="form-control" id="creditor" name="creditor" #creditor="ngModel"
                 [(ngModel)]="transfer.creditor" required>
        </div>
        <div class="form-group col-sm-12">
          <label for="amount">Bedrag:</label>
          <input type="number" class="form-control" id="amount" name="amount" #amount="ngModel"
                 [(ngModel)]="transfer.amount" required min="0.01">
        </div>

        <div class="form-group col-sm-12">
          <input type="submit" value="Verstuur geld" class="btn btn-primary float-right btn-block-sm" [disabled]="!formTransfer.valid">
        </div>
      </div>
    </form>
  </div>
</div>
