<div class="container">
  <!-- Login -->
  <div id="row">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="offset-sm-3 col-sm-6 margin-top-40">
      <div class="row">
        <div class="col-sm-12 form-group">
          <h2>Login</h2>
          <p>Log hier in met je gebruikersgegevens.</p>
          <br>
          <div *ngIf="error" class="alert alert-danger">
            <ul class="margin-bottom-0 list-unstyled">
              <li>Het e-mailadres en wachtwoord komen niet overeen.</li>
              <li>Probeer het opnieuw.</li>
            </ul>
          </div>
          <label for="email">E-mailadres</label>
          <input #email="ngModel" [(ngModel)]="user.email" class="form-control" email id="email"
                 name="email" placeholder="E-mail" required type="email">
          <div *ngIf="email.invalid && email.dirty" class="alert alert-danger">
            <li *ngIf="email.errors.required">E-mail is verplicht</li>
            <li *ngIf="email.errors.email">E-mail is ongeldig</li>
          </div>
        </div>
        <div class="col-sm-12 form-group">
          <label for="password">Wachtwoord</label>
          <input #password="ngModel" [(ngModel)]="user.password" class="form-control" id="password" minlength="8"
                 name="password" placeholder="Wachtwoord" required type="password">
          <div *ngIf="password.invalid && password.dirty" class="alert alert-danger">
            <li *ngIf="password.errors.required">Wachtwoord is verplicht</li>
            <li *ngIf="password.errors.minlength">Wachtwoord moet uit
              minimaal {{password.errors.minlength.requiredLength}} karakters bestaan
            </li>
          </div>
        </div>

        <div class="col-sm-12">
          <small>Als je nog geen account hebt klik dan <a routerLink="/registration"> <u>hier</u></a>.
          </small>
        </div>
        <div class="col-sm-12 form-group">
          <input [disabled]="!loginForm.valid" class="btn btn-primary float-right btn-block-sm margin-top-10"
                 type="submit" value="Log in">
        </div>
      </div>
    </form>
  </div>
</div>
