<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="navbar-brand" href="#">PSD2</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="Inloggen.html">Inloggen <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Registreren</a>
      </li>
    </ul>
  </div>
</nav>

<div class="content">
  <!-- Inloggen -->
  <div id="loginContainer">
    <form>
      <div class="form-group">
        <h2>Inloggen</h2>
        <p>Log hier in met je gebruikersgegevens.</p>
        <br>
        <label for="inputLoginEmail">Emailadres</label>
        <input type="email" class="form-control" id="inputLoginEmail" aria-describedby="emailHelp" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="inputLoginWachtwoord">Wachtwoord</label>
        <input type="password" class="form-control" id="inputLoginWachtwoord" placeholder="Wachtwoord">
      </div>
      <small>Als je nog geen account hebt klik dan <a href="#"> <u>hier</u></a>.</small><br>
      <button type="submit" class="btn btn-primary">Log in</button>
    </form>
  </div>
</div>
</body>

<!-- Footer -->
<footer>
  <p>Osaka & Info Support - © 2019</p>
</footer>

</html>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
