<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div *ngIf="!isLoading" class="card margin-top-40-sm-and-up">
        <div class="card-body">
          <h1 *ngIf="account.type" class="typebig">{{account.type}}</h1>
          <h3 [class.text-danger]="account.balance < 0">€ {{account.balance | number : "1.2-2"}}</h3>
          <h6 *ngIf="account.iban">{{account.iban}}</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <app-transactieoverzicht (parentAccount)="getAccount($event)"></app-transactieoverzicht>
    </div>
  </div>
</div>
