<div class="container">
  <div class="row">
<!--    <div class="col-sm-12">-->
<!--      <h1>Rekening</h1>-->
<!--      <p *ngIf="isLoading">Bankgegevens ophalen...</p>-->
<!--    </div>-->
<!--    <div class="col-sm-12" *ngIf="!isLoading">-->
<!--      <h2>{{rekening.name}}</h2>-->
<!--      <h4>{{rekening.bankAccountNumber}}</h4>-->
<!--      <h6>Balans: &euro; {{rekening.balance}}</h6>-->
<!--    </div>-->
    <div class="col-sm-12">
      <app-transactieoverzicht></app-transactieoverzicht>
    </div>
  </div>
</div>
