<h2>Transacties</h2>
<div class="margin-bottom-20">
    <button (click)="back()" class="btn btn-primary">Ga terug</button>
</div>

<div *ngIf="error" class="offset-sm-3 col-sm-6 alert-danger card align-content-center">
  <ul style="list-style-type: none" [ngSwitch]="e" *ngFor="let e of error">
    <li *ngSwitchCase="'INVALID_TOKEN'">Er is een ongeldig token gebruikt. Probeer het opnieuw.</li>
    <li *ngSwitchCase="'INVALID_TABLEID'">Er is een ongeldig account in de database gebruikt. Probeer het opnieuw.</li>
    <li *ngSwitchCase="'INVALID_ID'">Er is een ongeldig ID gebruikt. Probeer het opnieuw.</li>
  </ul>
</div>
<ngx-spinner *ngIf="!error && isLoading"
             bdColor="#ffffff"
             size="default"
             color="#000000"
             type="ball-pulse"
             style="position: center"
             [fullScreen]="false"><p style="position: relative; top: 30px">Transacties worden opgehaald.</p>
</ngx-spinner>
<div *ngIf="!isLoading">
    <div *ngIf="transactions.length <= 0">Deze rekening heeft geen transacties.</div>
    <ul class="list-group">
        <li *ngFor="let transaction of transactions" class="list-group-item {{transaction.mark}}">
            <div class="row">
                <div class="col-sm-12">
                    <small *ngIf="!transaction.booked">Nog niet overgeboekt.</small>
                    <small *ngIf="transaction.booked" class="font-italic">{{transaction.date}}</small>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                          <div class="font-weight-bold">{{transaction.receiver.name === undefined ? "Onbekend" : transaction.receiver.name}}</div>
                          <div>{{ transaction.receiver.iban }}</div>
                          <div class="font-weight-bold" [ngStyle]="{color: transaction.category.color}">{{transaction.category.name}}</div>
                        </div>
                        <div class="col-sm-3">
                          Bedrag: {{transaction.received ? "+" : "-"}} <span [class.text-danger]="transaction.received == false">€ {{transaction.amount | number : "1.2-2"}}</span>
                        </div>
                        <div class="col-sm-1"><i class="far fa-file-alt" title="Deze transactie heeft een bijlage" *ngIf="transaction.comment"></i></div>
                        <div class="col-sm-2">
                          <button class="btn btn-primary dropdown-toggle" type="button"
                                  id="dropdownMenuButton"
                                  data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false">Acties</button>
                          <div class="dropodown">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" [routerLink]="['/transactie', transaction.id, tableId, 'details']">Bekijk transactie</a>
                              <a class="dropdown-item" [routerLink]="['/transactie', transaction.id, tableId, 'categorize']" [queryParams]="{iban:transaction.sender.iban, name:transaction.sender.name}">Categoriseer</a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
