<div class="container">
  <div class="row">
    <form class="offset-sm-3 col-sm-6" #formSettings="ngForm" (ngSubmit)="onSubmit()">
      <button class="btn btn-primary margin-top-40-sm-and-up" (click)="back()">Ga terug</button>
      <h1>Instellingen</h1>
      <h4>Rekening type</h4>
      <div class="row">
        <div class="form-group col-sm-12">

          <label for="category">Selecteer een type:</label>
          <select class="form-control" id="category" name="category" [(ngModel)]="settings.category" required>
            <option value="betaalrekening">Betaalrekening</option>
            <option value="spaarrekening">Spaarrekening</option>
          </select>

        </div>

        <div class="form-group col-sm-12">
          <h4>Rekening categorie</h4>
          <p>Maak een eigen categorie voor deze rekening:</p>

          <label for="customCategory">Categorie</label><br>
          <small>Bijvoorbeeld: Schoolgeld kinderen, Pensioen</small>
          <input type="text" class="form-control" id="customCategory" name="customCategory" placeholder="Vul hier in"
                 [(ngModel)]="settings.category" #customCategory="ngModel">
        </div>

        <div class="col-sm-12 form-group">
          <input type="submit" class="btn btn-primary float-right btn-block-sm margin-top-10" [disabled]="!formSettings.valid" value="Opslaan">
        </div>
      </div>
    </form>
  </div>


</div>
