<div class="container">
  <div class="row">
    <form class="offset-sm-3 col-sm-6" #formSettings="ngForm" (ngSubmit)="onSubmit()">
      <a class="btn btn-primary margin-top-40-sm-and-up text-white" (click)="back()">Ga terug</a>
      <h1>Instellingen</h1>
      <div class="row">

        <div class="form-group col-sm-12">
          <h4>Rekening categorie</h4>
          <p>Deze rekening: Geen categorie</p>

            <h5><i>Kies hoe u wilt categoriseren</i></h5>
            <input [(ngModel)]="option" type="radio" name="option" value="categorize"> Bestaande categorie
            <input [(ngModel)]="option" type="radio" name="option" value="new"> Nieuwe categorie <br><br>

            <div *ngIf="option == 'categorize'">
            <h5>Gebruik een bestaande categorie voor deze rekening</h5>

            <select [(ngModel)]="categoryId" name="categoryChoose">
                <option [value]=""></option>
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
            </div>

            <div *ngIf="option == 'new'">
          <h5>Maak een eigen categorie voor deze rekening</h5>

          <small>Bijvoorbeeld: Schoolgeld kinderen, Pensioen</small>
          <input type="text" class="form-control" id="customCategory" name="customCategory" placeholder="Vul hier in"
                 [(ngModel)]="settings.name" #customCategory="ngModel">
            </div>
        </div>

        <div class="col-sm-12 form-group">
          <input type="submit" class="btn btn-primary float-right btn-block-sm margin-top-10" [disabled]="!formSettings.valid" value="Opslaan">
        </div>
      </div>
    </form>
  </div>
</div>
