<nav class="navbar navbar-expand navbar-dark bg-primary">
  <div class="container"><a class="navbar-brand" routerLink="">PSD2</a>
    <button aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarsExample02" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapseO navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="overzicht/rekeningen" routerLinkActive="active">Rekeningen</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="inzichten" routerLinkActive="active">Inzichten</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="instellingen" routerLinkActive="active">Instellingen</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li *ngIf="isLoggedIn" class="nav-item">
          <a (click)="userService.logout()" class="nav-link" href="" routerLinkActive="active">Uitloggen</a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="registration" routerLinkActive="active">Registreren</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
