<div class="content">
  <div id="overzichtContainer">
    <div id="overzichtHeader" style="display: flex">
      <h2>Overzicht Rekeningen</h2>
    </div>
    <h5>Totale Balans: €15.000</h5>
    <form class="form-inline my-2 my-lg-0" id="overzichtHeaderKnop">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Overboeken</button>
    </form>
    <p>Hieronder staan alle rekeningen die gekoppeld zijn aan je account.</p><br>

    <ul class="list-group">
      <li class="list-group-item">Rabobank A <span class="transactieRight"><span class="bedrag">Balans: €1000</span><button type="button" class="btn btn-secondary infoButton">Transacties</button></span></li>
      <li class="list-group-item">Rabobank B <span class="transactieRight"><span class="bedrag">Balans: €1000</span><button type="button" class="btn btn-secondary infoButton">Transacties</button></span></li>
      <li class="list-group-item">ING A <span class="transactieRight"><span class="bedrag">Balans: €1644</span><button type="button" class="btn btn-secondary infoButton">Transacties</button></span></li>
      <li class="list-group-item">ING B <span class="transactieRight"><span class="bedrag">Balans: €1400</span><button type="button" class="btn btn-secondary infoButton">Transacties</button></span></li>
    </ul>
  </div>
</div>
