<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Overzicht Rekeningen</h2>
            <h5>Totale Balans: <span [class.text-danger]="totalBalance < 0">€{{totalBalance | number : '1.2-2'}}</span></h5>
            <div class="btn-group float-right margin-bottom-20 full-width" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary">Bedrag overmaken</button>
                <button type="button" class="btn btn-outline-primary" routerLink="/bank-koppelen">Rekening toevoegen
                </button>
            </div>
        </div>

        <div class="col-sm-12">
            <div *ngIf="isLoading"><ngx-spinner
                    bdColor="#ffffff"
                    size="default"
                    color="#000000"
                    type="ball-pulse"
                    style="position: center"
                    [fullScreen]="false"><p style="position: relative; top: 30px">Rekeningen worden opgehaald.</p></ngx-spinner>
            </div>
            <div class="text-center" *ngIf="!isLoading && rekeningen.length <= 0">Er zijn geen rekeningen.</div>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let rekening of rekeningen">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6"> {{rekening.name}} / {{rekening.iban}} </div>
                                <div class="col-sm-3 ">Balans: <span [class.text-danger]="rekening.balance < 0">€{{rekening.balance | number : '1.2-2'}}</span></div>
                                <div class="col-sm-3 text-right">
                                    <a class="btn btn-primary"
                                       [routerLink]="['/rekening', rekening.id, 'details', rekening.tableId]">Bekijk</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>