<div class="container">
  <div class="row">
    <form #transactionCategorize="ngForm" (ngSubmit)="onSubmit()" class="offset-sm-3 col-sm-6">
      <a (click)="back()" class="btn btn-primary margin-top-40-sm-and-up text-white">Ga terug</a>
      <h2>Transactie categoriseren</h2>

      <div class="form-group">
        <label>Op basis van welke gegevens wilt u deze transactie categoriseren?</label>
        <div class="custom-control custom-radio">
          <input [(ngModel)]="request.content" checked class="custom-control-input" id="mark_option_1" name="mark_option"
                 type="radio" value="{{ name }}">
          <label class="custom-control-label" for="mark_option_1">De naam van de afzender ({{ name }})</label>
        </div>
        <div class="custom-control custom-radio">
          <input [(ngModel)]="request.content" class="custom-control-input" id="mark_option_2" name="mark_option" type="radio"
                 value="{{ iban }}">
          <label class="custom-control-label" for="mark_option_2">Het IBAN-nummer van de afzender ({{ iban }})</label>
        </div>
      </div>

      <div class="form-group">
        <label>Wilt u deze transactie in een bestaande categorie of een nieuwe categorie plaatsen?</label>
        <div class="custom-control custom-radio">
          <input [(ngModel)]="request.type" checked class="custom-control-input" id="category_type_1" name="category_type"
                 type="radio" value="new">
          <label class="custom-control-label" for="category_type_1">Een nieuwe categorie</label>
        </div>
        <div class="custom-control custom-radio">
          <input [(ngModel)]="request.type" class="custom-control-input" id="category_type_2" name="category_type" type="radio"
                 value="existing">
          <label class="custom-control-label" for="category_type_2">Een bestaande categorie</label>
        </div>
      </div>

      <div *ngIf="request.type == 'new'; else existingCategory">
        <div class="form-group">
          <label for="name">Naam van categorie</label>
          <input [(ngModel)]="request.name" class="form-control" id="name" name="name" placeholder="Bijv: Algemene uitgaven"
                 type="text">
        </div>

        <div class="form-group">
          <label for="color">Kleur van categorie</label>
          <select [(ngModel)]="request.color" class="form-control" id="color" name="color">
            <option disabled value="">-- Kies een kleur --</option>
            <option *ngFor="let color of colors" [ngValue]="color.hex">{{color.name}}</option>
          </select>
        </div>
      </div>

      <ng-template #existingCategory>
        <div class="form-group">
          <label>Categorie</label>
          <select [(ngModel)]="request.id" class="form-control" name="id">
            <option disabled value="0">-- Kies een categorie --</option>
            <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
          </select>
        </div>
      </ng-template>

      <div class="form-group">
        <input [disabled]="!canSubmit()" class="btn btn-primary" type="submit" value="Opslaan">
      </div>
    </form>
  </div>
</div>
