/* You can add global styles to this file, and also import other style files */
@import "~bootstrap";

.margin-bottom-20{
    margin-bottom: 20px;
}


@media all and (min-width:768px) {
    .margin-top-40 { margin-top:40px; }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .hide-on-sm{
    display: none !important;
  }
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
