<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Transactie</h2>
            <button class="btn btn-primary margin-bottom-20" (click)="back()" >Ga terug</button>
        </div>

        <div class="col-sm-12" *ngIf="isLoading">
            Transactiegegevens wordt opgehaald...
        </div>
        <div class="col-sm-12" *ngIf="!isLoading">
            <div class="card">
                <div class="card-header text-center">
                    <b>{{transaction.bankAccountNumberSender}}</b> naar <b>{{transaction.bankAccountNumber}}</b>
                </div>
                <div class="card-body">
                    <b>Datum:</b> {{transaction.datetime}}
                    <br>
                    <b>Bedrag:</b> &euro;{{transaction.amount}}
                    <form>
                        <div class="form-group">
                            <label for="comment">Opmerking</label>
                            <textarea class="form-control" name="comment"
                                      id="comment">{{transaction.comment}}</textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary float-right" value="Opslaan">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
