<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <button (click)="back()" class="btn btn-primary mt-4">Ga terug</button>
      <h1>Statistieken transacties</h1>
      <div *ngIf="isLoading === undefined" class="alert alert-danger text-center margin-top-40">Er is iets fouts
        gegaan.
      </div>
      <div *ngIf="isLoading" class="text-center">Gegevens worden opgehaald...</div>
      <div *ngIf="!isLoading && !hasTransactions" class="text-center">Er zijn geen
        transacties
      </div>
      <div *ngIf="isLoading === false" class="mt-4">
        <div *ngFor="let chart of charts">
          <google-chart *ngIf="chart.data && chart.data.length > 0" [data]="chart.data" [dynamicResize]="chart.settings.dynamicResize"
                        [title]="chart.settings.title" [type]="chart.settings.type"
                        style="width:100%"></google-chart>
        </div>
      </div>
    </div>
  </div>
</div>

